td {
    border: 1px solid black;
}

#menu {
    text-align: center;
    list-style: none;
}

#my-area * {
    margin: 0 auto;
}

#opponent-area * {
    margin: 0 auto;
}

#my-log {
    text-align: left;
}

#my-area {
    text-align: center;
    border: 1px dashed green;
    width: 40%;
    float: left;
}

#opponent-area {
    text-align: center;
    border: 1px dashed red;
    width: 40%;
    float: right;
}

#menu-rematch {
    display: none;
}

#menu {
    display: none;
}

#number-area {
    display: none;
}

#open-games {
    display: none;
}